<body>
    <div class="contact-page">
        <p><i class="far fa-envelope"></i> Your message has been sent. I'll respond shortly.</p>
        <a class="return" href="/">
            <i class="fas fa-chevron-circle-left"></i> return home
        </a>
    </div>
</body>

</html>