<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jared Gilpin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/normalize.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/style.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
        crossorigin="anonymous"></script>
    <script defer src="./assets/javascript/main.js"></script>
</head>

<body>
    <div class="container">
        <div class="front-page">
            <div class="header">
                <div class="logo">Jared Gilpin</div>
                <div class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="#resume" class="nav-link">résumé</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link">contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="#portfolio" class="nav-link">portfolio</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="front__background">
                <!-- <img class="front-background" src="./assets/images/jared.svg" alt=""> -->
            </div>
            <div class="big-box">
                <div class="intro-box">
                    <div class="intro">i'm jared gilpin</div>
                    <div class="description">i make things</div>
                    <div class="front__social-icons">

                        <ul class="icons">
                            <li class="icon">
                                <a href="https://github.com/irishkungfu">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li class="icon">
                                <a href="https://www.linkedin.com/in/jared-gilpin-53491b6/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li class="icon">
                                <a href="https://twitter.com/jaredgilpin">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="resume">
            <div class="resume-wrapper surround" id="resume">
                <div class="section-header resume-header">
                    <h1>résumé</h1>
                </div>
                <div class="resume-download">
                    <a href="../assets/documents/jared-gilpin-resume.pdf"  target="_blank">
                        <button class="bright-button download" id="download-button">download .PDF</button>
                    </a>
                </div>
                <div class="skills-section">
                    <div class="skills-header">
                        <h2>skills</h2>
                    </div>
                    <div class="skills-images">
                        <i class="skill fab fa-js"></i>
                        <i class="skill fab fa-html5"></i>
                        <i class="skill fab fa-css3-alt"></i>
                        <i class="skill fab fa-linux"></i>
                        <i class="skill fab fa-react"></i>
                    </div>
                </div>
                <div class="work-section">
                    <div class="work-header">
                        <h2>work history</h2>
                    </div>
                    <div class="employment">
                        <div class="employer">
                            <div class="employer-header">
                                <h3>Graduation Alliance</h3>
                                <img class="employer-logo" src="./assets/images/ga.png" alt="Graduation Alliance">
                            </div>
                            <div class="employer-body">
                                <div class="position">Director of Program Management</div>
                                <div class="dates">2017</div>

                                <ul class="job-descriptions">
                                    <li class="job-desc">Oversaw national team responsible for managing client relationships
                                    </li>
                                    <li class="job-desc">Served high school dropouts by providing alternative education options
                                    </li>
                                    <li class="job-desc">Developed key performance indicators for program management team
                                    </li>
                                    <li class="job-desc">Oversaw 10% revenue growth
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="employer">
                            <div class="employer-header">
                                <h3 class="employer-name">Academic Partnerships</h3>
                                <img class="employer-logo" src="./assets/images/ap.png" alt="Academic Partnerships">
                            </div>
                            <div class="employer-body">
                                <div class="position">Asst. Director of Change Management</div>
                                <div class="dates">2010-2017</div>

                                <ul class="job-descriptions">
                                    <li class="job-desc">Conducted process review to remove bottlenecks within the admissions process which reduced
                                        cycle times for our largest client by 50%, increased application yields by 10%, and
                                        created $5 million in additional revenue annually
                                    </li>
                                    <li class="job-desc">Targeted unnecessary barriers to strategically simplify internal and client processes,
                                        resulting in enhanced student satisfaction and expedited application to enrollment
                                        cycles
                                    </li>
                                    <li class="job-desc">Developed key performance indicators for program management team
                                    </li>
                                    <li class="job-desc">Conducted process and policy reviews with all new partners and strategically conduct
                                        reviews with existing partners as needed
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="employer">
                            <div class="employer-header">
                                <h3 class="employer-name">Consolidated Electrical Distributors</h3>
                                <img class="employer-logo" src="./assets/images/ced.png" alt="CED">
                            </div>
                            <div class="employer-body">
                                <div class="position">Director of Program Management</div>
                                <div class="dates">2007-2010</div>

                                <ul class="job-descriptions">
                                    <li class="job-desc">Consulted with account package of 24 customers daily to develop optimal service solutions
                                        and promote sales
                                    </li>
                                    <li class="job-desc">
                                        Implemented efficient inventory management processes
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="education-section">
                    <div class="education-header">
                        <h2>education</h2>
                    </div>
                    <div class="schools">
                        <div class="institution">
                            <div class="institution-logo">
                                <img class="w-100" src="./assets/images/utd.png" alt="UTD">

                            </div>
                            <div class="institution-body">
                                <h3>University of Texas at Dallas</h3>
                                <div class="degree">Bachelor of Science in Business Administration</div>
                                <div class="dates">2000-2005</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact" id="contact-form">
            <div class="contact-wrapper" id="contact">
                <div class="section-header contact-header">
                    <h1>contact me</h1>
                </div>
                
                <form method="POST" action="/contact"> 

                    <div class="sender-name">
                        <label for="">name</label>
                        <input name="name" type="text">
                    </div>
                    <div class="sender-email">
                        <label for="">email</label>
                        <input name="email" type="email">
                    </div>
                    <div class="sender-message">
                        <label for="">what can i help you with</label>
                        <textarea name="message" cols="70" rows="10"></textarea>
                    </div>
                    <div class="sender-submit">
                        <button type="submit" class="bright-button send-button">send</button>
                    </div>
                </form> 
                
            </div>
        </div>

        <div class="portfolio" id="portfolio">
            <div class="portfolio-wrapper">
                <div class="section-header portfolio-header">
                    <h1>portfolio</h1>
                </div>
                <div class="portfolio-listing">
                    <div class="portfolio-card">
                        <div class="portfolio-card-header">
                            quiz break
                        </div>
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-text">
                                <p class="portfolio-card-pitch">Test your wit in this addictive game!</p>
                                <a href="https://irishkungfu.github.io/TriviaGame/"  target="_blank"><button class="bright-button play">
                                    Play
                                </button></a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-card">
                        <div class="portfolio-card-header">
                            RPG Game
                        </div>
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-text">
                                <p class="portfolio-card-pitch">Join the wizarding fray and test your skills!</p>
                                <a href="https://irishkungfu.github.io/week-4-game/"  target="_blank"><button class="bright-button play">
                                    Play
                                </button></a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-card">
                        <div class="portfolio-card-header">
                            Giphy API
                        </div>
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-text">
                                <p class="portfolio-card-pitch">Search for your favorite gifs. But no debating how to pronounce gif.</p>
                                <a href="https://irishkungfu.github.io/giphy-API/"  target="_blank"><button class="bright-button play">
                                    Play
                                </button></a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-card">
                        <div class="portfolio-card-header">
                            Classic Movie Hangman
                        </div>
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-text">
                                <p class="portfolio-card-pitch">Play classic movie hangman. Guess the titles and see a clip from your favorite classics.</p>
                                <a href="https://irishkungfu.github.io/Hangman-Game/  target="_blank""><button class="bright-button play">
                                    Play
                                </button></a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-card">
                        <div class="portfolio-card-header">
                            Train Schedule
                        </div>
                        <div class="portfolio-card-body">
                            <div class="portfolio-card-text">
                                <p class="portfolio-card-pitch">Deterimine when the next train is coming and update the train schedule.</p>
                                <a href="https://irishkungfu.github.io/Train-Schedule/  target="_blank""><button class="bright-button play">
                                    Play
                                </button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="wrapper footer-wrapper">Copyright 2018 - Jared Gilpin</div>
    </div>
    </div>

</body>

</html>

