<div class="container">
    <div class="front-page">
        <div class="header">
            <div class="logo">Jared Gilpin</div>
            <div class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#resume" class="nav-link">résumé</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="#portfolio" class="nav-link">portfolio</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="front__background">
        </div>
        <div class="big-box">
            <div class="intro-box">
                <div class="intro">i'm jared gilpin</div>
                <div class="description">frontend developer</div>
                <div class="front__social-icons">

                    <ul class="icons">
                        <li class="icon">
                            <a href="https://github.com/irishkungfu">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li class="icon">
                            <a href="https://www.linkedin.com/in/jared-gilpin-53491b6/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li class="icon">
                            <a href="https://twitter.com/jaredgilpin">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio" id="portfolio">
        <div class="portfolio-wrapper">
            <div class="section-header portfolio-header">
                <h1>portfolio</h1>
            </div>
            <div class="portfolio-listing">
                {{#each sites}} {{#if this.active}}

                <div class="portfolio-card">
                    <div class="portfolio-card-header">
                        {{this.name}}
                    </div>
                    <div class="portfolio-card-body">
                        <div class="portfolio-card-text">
                            <img width="50%" src="{{this.logo}}" alt="" class="app-logo">
                            <p class="portfolio-card-pitch">{{this.tagline}}</p>
                            <a href="{{this.url}}" target="_blank">
                                <button class="bright-button play">
                                    View
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                {{/if}} {{/each}}

            </div>
        </div>
    </div>
    <div class="resume">
        <div class="resume-wrapper surround" id="resume">
            <div class="section-header resume-header">
                <h1>résumé</h1>
            </div>
            <div class="resume-download">
                <a href="../assets/documents/jared-gilpin-resume.pdf" target="_blank">
                    <button class="bright-button download" id="download-button">download .PDF</button>
                </a>
            </div>
            <div class="skills-section">
                <div class="skills-header">
                    <h2>skills</h2>
                </div>
                <div class="skills-images">
                    <i class="skill fab fa-js"></i>
                    <i class="skill fab fa-html5"></i>
                    <i class="skill fab fa-css3-alt"></i>
                    <i class="skill fab fa-react"></i>
                </div>
            </div>
            <div class="work-section">
                <div class="work-header">
                    <h2>work history</h2>
                </div>
                <div class="employment">
                    <div class="employer">
                        <div class="employer-header">
                            <h3>Graduation Alliance</h3>
                            <img class="employer-logo" src="./assets/images/ga.png" alt="Graduation Alliance">
                        </div>
                        <div class="employer-body">
                            <div class="position">Director of Program Management</div>
                            <div class="dates">2017</div>

                            <ul class="job-descriptions">
                                <li class="job-desc">Oversaw national team responsible for managing client
                                    relationships
                                </li>
                                <li class="job-desc">Served high school dropouts by providing alternative education
                                    options
                                </li>
                                <li class="job-desc">Developed key performance indicators for program management team
                                </li>
                                <li class="job-desc">Oversaw 10% revenue growth
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employer">
                        <div class="employer-header">
                            <h3 class="employer-name">Academic Partnerships</h3>
                            <img class="employer-logo" src="./assets/images/ap.png" alt="Academic Partnerships">
                        </div>
                        <div class="employer-body">
                            <div class="position">Asst. Director of Change Management</div>
                            <div class="dates">2010-2017</div>

                            <ul class="job-descriptions">
                                <li class="job-desc">Conducted process review to remove bottlenecks within the
                                    admissions process which reduced
                                    cycle times for our largest client by 50%, increased application yields by 10%, and
                                    created
                                    $5 million in additional revenue annually
                                </li>
                                <li class="job-desc">Targeted unnecessary barriers to strategically simplify internal
                                    and client processes, resulting
                                    in enhanced student satisfaction and expedited application to enrollment cycles
                                </li>
                                <li class="job-desc">Developed key performance indicators for program management team
                                </li>
                                <li class="job-desc">Conducted process and policy reviews with all new partners and
                                    strategically conduct reviews
                                    with existing partners as needed
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employer">
                        <div class="employer-header">
                            <h3 class="employer-name">Consolidated Electrical Distributors</h3>
                            <img class="employer-logo" src="./assets/images/ced.png" alt="CED">
                        </div>
                        <div class="employer-body">
                            <div class="position">Director of Program Management</div>
                            <div class="dates">2007-2010</div>

                            <ul class="job-descriptions">
                                <li class="job-desc">Consulted with account package of 24 customers daily to develop
                                    optimal service solutions
                                    and promote sales
                                </li>
                                <li class="job-desc">
                                    Implemented efficient inventory management processes
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="education-section">
                <div class="education-header">
                    <h2>education</h2>
                </div>
                <div class="schools">
                    <div class="institution">
                        <div class="institution-logo">
                            <img class="w-100" src="./assets/images/utd.png" alt="UTD">

                        </div>
                        <div class="institution-body">
                            <h3>University of Texas at Dallas</h3>
                            <div class="degree">Bachelor of Science in Business Administration</div>
                            <div class="dates">2000-2005</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact" id="contact-form">
        <div class="contact-wrapper" id="contact">
            <div class="section-header contact-header">
                <h1>contact me</h1>
            </div>

            <form method="POST" action="/contact">

                <div class="sender-name">
                    <label for="">name</label>
                    <input name="name" type="text">
                </div>
                <div class="sender-email">
                    <label for="">email</label>
                    <input name="email" type="email">
                </div>
                <div class="sender-message">
                    <label for="">what can i help you with</label>
                    <textarea name="message" cols="70" rows="10"></textarea>
                </div>
                <div class="sender-submit">
                    <button type="submit" class="bright-button send-button">send</button>
                </div>
            </form>

        </div>
    </div>


</div>
<div class="footer">
    <div class="wrapper footer-wrapper">Copyright 2018 - Jared Gilpin</div>
</div>
</div>